.left{
    float: left;
}
.right{
    float: right;
}
.clear{
    clear: both;
}
.bg{
    background:url('//img.alicdn.com/tps/TB1qq7kNXXXXXacXFXXXXXXXXXX-400-186.png') no-repeat;
    overflow:hidden;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}
body{
    background-color: #a44d00;
    color: #fff;
    padding: 0;margin: 0;
    overflow: hidden;
    cursor: pointer;
    text-rendering: optimizeLegibility;
    font-size: 20px;
    direction: ltr;
    text-align: left;
}
.app{
    width: 640px;
    padding-top: 42px;
    box-shadow: 0 0 10px #fff inset;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -480px 0 0 -320px;
    background-color: #efcc19;
}