@color-brown: #987f0f;
.left{float:left};
.right{float: right;}
.clear{clear: both;}
.bg{
    background:url('//img.alicdn.com/tps/TB1qq7kNXXXXXacXFXXXXXXXXXX-400-186.png') no-repeat;
    overflow:hidden;
}